<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" class="nz-menu" nzMode="inline"
                [style]="isCollapsed ? {'width':'80px'} : {'width':'256px'}">
                <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
                <ng-template #menuTpl let-menus>
                    @for (menu of menus; track menu) {
                        @if (!menu.children) {
                            <li
                                    nz-menu-item
                                    [nzPaddingLeft]="menu.level * 24"
                                    [nzDisabled]="menu.disabled"
                                    [nzSelected]="menu.selected"
                            >
                                @if (menu.icon) {
                                    <nz-icon [nzType]="menu.icon"/>
                                }
                                <span>{{ menu.label }}</span>
                            </li>
                        } @else {
                            <li nz-submenu class="menuitem"
                                [nzPaddingLeft]="menu.level * 24"
                                [nzOpen]="menu.open"
                                [nzTitle]="menu.label"
                                [nzIcon]="menu.icon"
                                [nzDisabled]="menu.disabled"
                            >
                                <ul>
                                    <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"/>
                                </ul>
                            </li>
                        }
                    }
                </ng-template>
            </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
